.blockFull {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 98.8%;
    min-height: 50px;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    margin: 5px;
    background-position: 5px 5px!important;
}
.blockFull:hover {
    border: 1px dashed blue;
}
.blockFull:focus {
    border: 1px dashed red;
}
.block1 {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 48.9%;
    min-height: 50px;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    margin: 5px;
    background-position: 5px 5px!important;
}
.block1:hover {
    border: 1px dashed blue;
}
.block1:focus {
    border: 1px dashed red;
}
.block2 {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 65.6%;
    min-height: 50px;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    margin: 5px;
    background-position: 5px 5px!important;
}
.block2:hover {
    border: 1px dashed blue;
}
.block2:focus {
    border: 1px dashed red;
}
.block3 {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: calc(33.2% - 9px);
    display: inline-block;
    min-height: 50px;
    padding: 10px;
    vertical-align: top;
    margin: 5px;
    background-position: 5px 5px!important;
}
.block3:hover {
    border: 1px dashed blue;
}
.block3:focus {
    border: 1px dashed red;
}
.blockFull video {
    max-width: 900px;
}
.block2 video {
    max-width: 600px;
}
.block3 video {
    max-width: 300px;
}
.block3:hover {
    border: 1px dashed blue;
}
.block3:focus {
    border: 1px dashed red;
}

.setingsBlock {
    position: absolute;
    max-width: 10px;
    background: white;
    border-radius: 7px;
    padding: 6px;
    z-index: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    margin: 4px;
    opacity: 0.5;
    margin-left: -12px;
    margin-top: -2px;
}
.setingsBlock:hover {
    opacity: 1;
    cursor: pointer;
    max-width: 40px;
}
.sliderBlock {
    max-height: 300px!important;
    min-height: 300px!important;
    overflow-y: scroll;
}
.dnd {
    position: relative;
    top: -135px;
    left: 500px;
    border-radius: 10px;
    width: 260px;
    height: 100px;
    border: 1px dashed rgb(100,100,100);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {
    .block1, .block2, .block3 {
        width: 98.8%!important;
    }
}



/********************************************************* slider ********************************************/
/* Собственно сам слайдер */
.sliderQQQ{
    max-width: 100%;
    position: relative;
    height: 300px;
    overflow-x: hidden;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.sliderQQQ .itemQQ img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

/* Кнопки вперед и назад */
.sliderQQQ .prev, .sliderQQQ .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.sliderQQQ .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.sliderQQQ .prev:hover,
.sliderQQQ .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.itemQQ {
    padding: 10px 40px;
}
/* Кружочки */
.sliderQQQ-dots {
  text-align: center;
}
.sliderQQQ-dots_itemQQ{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    top: 230px;
    display: none;
}
.active,
.sliderQQQ-dots_itemQQ:hover {
    background-color: #aaa;
}
/* Анимация слайдов */

.sliderQQQ .itemQQ {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}