.block0 {
    border: 1px solid black;
    width: 98.8%;
    min-height: 100px;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    margin: 5px;
}
.block0:hover {
    border: 1px dashed blue;
}
.block0:focus {
    border: 1px dashed red;
}
.block2 {
    border: 1px solid black;
    width: 65.6%;
    min-height: 100px;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    margin: 5px;
}
.block2:hover {
    border: 1px dashed blue;
}
.block2:focus {
    border: 1px dashed red;
}
.block3 {
    border: 1px solid black;
    width: calc(33.2% - 9px);
    display: inline-block;
    min-height: 100px;
    padding: 10px;
    vertical-align: top;
    margin: 5px;
}
.block3:hover {
    border: 1px dashed blue;
}
.block3:focus {
    border: 1px dashed red;
}

.setingsBlock {
    position: absolute;
    max-width: 10px;
    background: white;
    border-radius: 7px;
    padding: 6px;
    z-index: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    margin: 4px;
    opacity: 0.5;
}
.setingsBlock:hover {
    opacity: 1;
    cursor: pointer;
    max-width: 40px;
}