/* Components */
@import url("./header.css");
@import url("./leftNav.css");
@import url("./section.css");
@import url("./block.css");
@import url("./text.css");
/* Elements */
* {
    /* Variables */
    --transitionDuration: 500ms;
    

    caret-color: rgb(55, 0, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: var(--transitionDuration);
    outline: none;
    transition-duration: 600ms;
}
html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: rgb(240, 243, 246);
    margin-bottom: 1rem;
}
img {
    width: 100%;
}
video {
    position: relative;
    min-width: 100%;
    z-index: 9;
}
.modalEr {
    display: block;
    position: fixed;
    top: 10px;
    left: 10%;
    width: 80%;
    height: 40px;
    padding: auto auto;
    text-align: center;
    box-shadow: 0 0 10px rgb(28, 38, 47);
    z-index: 9999999;
    font-size: 2rem;
    border-radius: 30px;
    color: white;
    font-family: sans-serif;
    animation: modalEr 0.4s linear;
}
.modalEr:hover {
    cursor: pointer;
}
@keyframes modalEr {
    0% {
        top: -100px;
    }
    100% {
        top: 10px;
    }
}

#contentBook {
    margin-top: 0px;
}
.notEdit {
    -webkit-user-select: none;
}
.bgRed {
    background-color: red;
}
.bgBlue {
    background-color: blue;
}
.bgBlack {
    background-color: black;
}
.bgWhite {
    background-color: white;
}