/* Components */
@import url("./header.css");
@import url("./leftNav.css");
@import url("./section.css");
@import url("./block.css");
@import url("./text.css");
/* Elements */
* {
    /* Variables */
    --transitionDuration: 500ms;

    --colorOne: rgb(255, 255, 255);
        --colorOneDark: rgb(50, 50, 50);
    --colorTwo: rgb(237, 236, 243);
        --colorTwoDark: rgb(27, 27, 27);
    --colorThree: rgb(13, 102, 208);
        --colorThreeDark: rgb(13, 102, 208);
    
    
    
    caret-color: var(--colorThree);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: var(--transitionDuration);
    outline: none;
    transition-duration: 600ms;
}
html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: rgb(240, 243, 246);
    margin-bottom: 1rem;
}
img {
    width: 100%;
}
video {
    position: relative;
    min-width: 100%;
    z-index: 9;
}
.modalEr {
    display: block;
    position: fixed;
    top: 10px;
    left: 10%;
    width: 80%;
    height: 40px;
    padding: auto auto;
    text-align: center;
    box-shadow: 0 0 10px rgb(28, 38, 47);
    z-index: 9999999;
    font-size: 2rem;
    border-radius: 3px;
    color: white;
    font-family: sans-serif;
    animation: modalEr 0.4s linear;
}
.modalEr:hover {
    cursor: pointer;
}
@keyframes modalEr {
    0% {
        top: -100px;
    }
    100% {
        top: 10px;
    }
}
.formula {
    padding: 4px;
    border: 1px solid rgb(175, 175, 175);
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
	border-radius: 3px;
}
#contentBook {
    margin-top: 0px;
}
.notEdit {
    -webkit-user-select: none;
}
.bgRed {
    background-color: red;
}
.bgBlue {
    background-color: blue;
}
.bgBlack {
    background-color: black;
}
.bgWhite {
    background-color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 950px;
}

th, td {
    padding: 3px;
    border: 1px solid black;
}

.btn {
    border: 1px solid rgb(175, 175, 175);
    padding: 5px;
    border-radius: 4px;
}
.btn:hover {
    cursor: pointer;
    border: 1px solid rgb(105, 105, 105)
}



#fileid {
    display:none;
    }
    label {
    padding:10px;
    border:1px solid #ccc;
    border-radius:3px;
    display:inline-block;
    border-bottom-width:2px;
    cursor:pointer;
    }