/* Components */
@import url("./header.css");
@import url("./leftNav.css");
@import url("./section.css");
@import url("./block.css");
/* Elements */
* {
    /* Variables */
    --transitionDuration: 500ms;
    

    caret-color: rgb(55, 0, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: var(--transitionDuration);
    outline: none;
    transition-duration: 600ms;
}
header div {
    animation: x 1s linear;
}
@keyframes x {
    0% {opacity: 0;}
    50% {
        opacity: 1;
    }
}
html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: rgb(240, 243, 246);
    margin-bottom: 1rem;
}
#contentBook {
    margin-top: 100px;
}
.notEdit {
    -webkit-user-select: none;
}
.bgRed {
    background-color: red;
}
.bgBlue {
    background-color: blue;
}
.bgBlack {
    background-color: black;
}
.bgWhite {
    background-color: white;
}