header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 40px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: var(--colorOne);
    z-index: 99;
}
.allTopNav, .allTopNavText {
    display: flex;
    height: 40px;
    align-items: center;
}
.allTopNav > div {
    display: flex;
    padding: 3px;
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    height: 40px;
    align-items: center;
}
.allTopNavText > div {
    padding: 3px;
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    height: 80px;
    vertical-align: top;
}
.elementTopNav {
    display: block;
    padding: 3px;
    background: var(--colorTwo);
    margin: 2px;
    font-size: 0.8rem;
    border-radius: 4px;
    color:rgba(0, 0, 0, 0.9)
}
.elementTopNav:hover {
    cursor: pointer;
    background: var(--colorTwo);
}
.elementTopNavH {
    display: block;
    padding: 3px;
    padding-top: 5px;
    background: #0c4da2;
    margin: 2px;
    font-size: 0.8rem;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
}
.elementTopNavImg {
    padding: 4px;
    margin: 1px;
    image-rendering: pixelated;
    border-radius: 4px;
    max-width: 32px;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
}
.elementTopNavImg:hover {
    background: #dcdcdc linear-gradient(#fff, #dcdcdc);
    box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
}
.elementTopNavImg:active {
    background: #dcdcdc linear-gradient(#fff, #dcdcdc);
    box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
}
.inp {
    color:rgba(0, 0, 0, 0.9);
    font-size: 0.8rem;
    border-radius: 4px;
    display: block;
    min-width: calc(100% - 6px);
    margin: 2px;
    padding: 2px;
}
header .allTopNav {
    animation: showTopNav 1s linear;
}
@keyframes showTopNav {
    0% {opacity: 0;}
    50% {
        opacity: 1;
    }
}
@keyframes showList {
	50% {
		border: 1px solid red;
			box-shadow: 0 0 10px red;
	}
}
.colorPicker > div {
	transition-duration: 100ms;
    border-radius: 2px;
	border: 1px solid var(--colorTwo);
}
.colorPickerPalitra {
	position: absolute;
	background-color: var(--colorOne);
	padding: 2px;
	border: 1px solid var(--colorTwo);
	z-index: 9999999999999999999;
	border-radius: 2px;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	animation: showList 0.2s linear;
}
.showList {
	position: absolute;
	background-color: var(--colorOne);
	padding: 2px;
	min-width: 110px;
	border: 1px solid var(--colorTwo);
	z-index: 9999999999999999999;
	border-radius: 2px;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	animation: showList 0.2s linear;
}
.showList > div {
	font-family: sans-serif;
	margin: 2px;
	border-radius: 2px;
	padding: 2px;
	border: 1px solid var(--colorTwo);
}
.showList > div:hover {
	margin: 2px;
	border-radius: 2px;
	padding: 2px;
	border: 1px solid var(--colorThree);
	cursor: pointer;
}