header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 90px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: rgb(255, 255, 255);
    z-index: 99;
}
.allTopNav, .allTopNavText {
    display: flex;
    height: 90px;
    align-items: center;
}
.allTopNav > div {
    padding: 3px;
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    height: 80px;
    vertical-align: top;
}
.allTopNavText > div {
    padding: 3px;
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    height: 80px;
    vertical-align: top;
}
.elementTopNav {
    display: block;
    padding: 3px;
    background:rgb(237, 236, 243);
    margin: 2px;
    font-size: 0.8rem;
    border-radius: 4px;
    color:rgba(0, 0, 0, 0.9)
}
.elementTopNav:hover {
    cursor: pointer;
    background: rgb(197, 195, 209);
}
.elementTopNavH {
    display: block;
    padding: 3px;
    padding-top: 5px;
    background: #0c4da2;
    margin: 2px;
    font-size: 0.8rem;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
}
.elementTopNavImg {
    padding: 3px;

    margin: 2px;
    border-radius: 4px;
    max-width: 30px;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
}
.elementTopNavImg:hover {
    background: #dcdcdc linear-gradient(#fff, #dcdcdc);
    box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
}
.elementTopNavImg:active {
    background: #dcdcdc linear-gradient(#fff, #dcdcdc);
    box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
}
.inp {
    color:rgba(0, 0, 0, 0.9);
    font-size: 0.8rem;
    border-radius: 4px;
    display: block;
    min-width: calc(100% - 6px);
    margin: 2px;
    padding: 2px;
}
header .allTopNav {
    animation: showTopNav 1s linear;
}
@keyframes showTopNav {
    0% {opacity: 0;}
    50% {
        opacity: 1;
    }
}