.editor, .newEditor {
    margin: 10px auto;
    margin-bottom: 10px;
    max-width: 1000px;
    min-height: calc(100vh - 120px);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    padding: 10px;
    z-index: 1;
}
.editor:hover {
	border: 1px dashed blue;
}
.editor:focus {
	border: 1px dashed blue;
}
.newEditor {

}
.newEditor2 {
    margin: 100px auto;
    margin-bottom: 0px;
    max-width: 1000px;
    min-height: calc(100vh - 120px);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin-top: 50px;
}
.del {
    position: relative;
    display: block;
    max-width: 40px;
    left: calc(50vw - 22px);
    background: white;
    border-radius: 7px;
    padding: 5px;
    padding-left: 9px;
    z-index: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    margin: 4px;
    margin-bottom: 10px;
}
.del:hover {
    cursor: pointer;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
}